<section>
    <div id="slider-animation" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/slider2.jpg" alt="slider">
                <div class="text-box">
                    <h2 class="wow slideInRight" data-wow-duration="2s" id="h2Slider">Bienvenido a iServices</h2>
                    <h4 class="wow slideInLeft" data-wow-duration="2s" id="h4Slider">¿Buscas servicios
                        profesionales?</h4>
                    <p class="wow slideInRight" data-wow-duration="3s">Encuéntralos aquí inmediatamente</p>
                    <a name="" id="" class="btn btn-primary" href="#servicios" role="button">VER SERVICIOS</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/persons.png" alt="slider2">
                <div class="text-box">
                    <div class="row align-items-center">

                        <div class="col-md-6">
                            <h2 class="wow fadeInUp" data-wow-duration="4s">Encuentra rápidamente</h2>
                            <p class="wow fadeInUp" data-wow-duration="2s">Nuestros profesionales de enfermería
                            </p>
                        </div>
                        <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
                            <img src="./assets/persons.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slider-animation" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>


<div class="section_bg_gray" style="margin-top: -10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ptb-50">
                    <h2 class="text-center" id="servicios">SERVICIOS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="single_what_we_do">
                    <div class="top_line"></div>
                    <div class="what_we_do_figure">
                        <img src="./assets/carpinteria.png" alt="" class="img-responsive">
                    </div>
                    <h4 class="what_we_do_title">CARPINTERÍA</h4>
                    <div class="what_we_do_content">¿Necesitas algún mueble en especial? Encuentra al profesionista
                        ideal</div>
                    <a class="what_we_do_icon" href="#" routerLink = "carpinteros">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single_what_we_do">
                    <div class="top_line"></div>
                    <div class="what_we_do_figure">
                        <img src="./assets/enfermeria.png" alt="" class="img-responsive">
                    </div>
                    <h4 class="what_we_do_title">ENFERMERÍA</h4>
                    <div class="what_we_do_content">¿Necesitas cuidados 24/7 para una persona mayor?</div>
                    <a class="what_we_do_icon" href="#" routerLink = "enfermeros">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single_what_we_do">
                    <div class="top_line"></div>
                    <div class="what_we_do_figure">
                        <img src="./assets/fontaneria.png" alt="" class="img-responsive">
                    </div>
                    <h4 class="what_we_do_title">FONTANERÍA</h4>
                    <div class="what_we_do_content">¿Encharcado? Encuentra rápidamente a un fontanero con
                        experiencia</div>
                    <a class="what_we_do_icon" href="#" routerLink = "fontaneros">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>