<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Lugar</th>
            <th scope="col">Servicio</th>
        </tr>
    </thead>
    <tbody>
        <!-- Ngfor tr -->
        <tr class="mw-100 p-3">
            <td scope="row">
                <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="https://randomuser.me/portraits/women/51.jpg">
                    </a>
                    <div class="media-body">
                        <span class="mb-0 text-sm">Regina Mendoza</span>
                    </div>
                </div>
            </td>
            <td>
                $300
            </td>
            <td>
                <span class="badge badge-dot mr-4">
                    02/09/20
                </span>
            </td>
            <td>
                <div class="avatar-group">
                    9:00 PM
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <span class="mr-2">Prado de las Piedras, Zapopan</span>
                </div>
            </td>
            <td>Por hora</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="https://randomuser.me/portraits/men/41.jpg">
                    </a>
                    <div class="media-body">
                        <span class="mb-0 text-sm">Juan González</span>
                    </div>
                </div>
            </th>
            <td>
                $500
            </td>
            <td>
                <span class="badge badge-dot mr-4">
                    03/09/20
                </span>
            </td>
            <td>
                <div class="avatar-group">
                    8:30 PM
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <span class="mr-2">ITESO, Zapopan</span>
                </div>
            </td>
            <td>Por hora</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="https://randomuser.me/portraits/men/31.jpg">
                    </a>
                    <div class="media-body">
                        <span class="mb-0 text-sm">Luis Agustin</span>
                    </div>
                </div>
            </th>
            <td>
                $900
            </td>
            <td>
                <span class="badge badge-dot mr-4">
                    04/09/20
                </span>
            </td>
            <td>
                <div class="avatar-group">
                    9:00 AM
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <span class="mr-2">Xochitl #443, Zapopan</span>
                </div>
            </td>
            <td>Instalacion de agua</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="https://randomuser.me/portraits/women/55.jpg">
                    </a>
                    <div class="media-body">
                        <span class="mb-0 text-sm">Laura Castellanos</span>
                    </div>
                </div>
            </th>
            <td>
                $3,200
            </td>
            <td>
                <span class="badge badge-dot mr-4">
                    02/09/20
                </span>
            </td>
            <td>
                <div class="avatar-group">
                    9:00 PM
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <span class="mr-2">Chapalita, GDL</span>
                </div>
            </td>
            <td>Cuidado adulto mayor</td>
        </tr>
    </tbody>
</table>